<!DOCTYPE html> <!--Document Type Decleration for HTML-->
<html lang="en"> <!--Specifies the English Language and Start of HTML code-->

<head> <!--Head of the HTML, defines several attributes and metadata-->
    <title>University Of Ares</title> <!--Title of the HTML (appears in address bar)-->
    <meta charset="UTF-8"> <!--Specifies UTF-8 Character Encoding Standard-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Refers to the size of the visible area on the screen-->
    <link rel="stylesheet" href="{{ url_for('static', filename='Zagreus-Communications-Login.css') }}"> <!--This line specifies the relationship between this HTML code and a linked document. In this case CSS style sheet via static link-->
</head> <!--End of HTML Head-->

<body> <!--Start of HTML Body-->

    <div class="content"> <!--Defines a division/class in the HTML document known as "content" (top-left of webpage)-->
        <img src="{{ url_for('static', filename='Zagreus.jpg') }}" alt="Overlay Image" class="overlay-image"> <!--Defines an image inside the HTML as an overlay image appearing over the video background as a static link-->
        <div class="text-container"> <!--A nested class inside another class known as "text-container" within HTML-->
            <h1 class="title">Zagreus Telecommunications</h1> <!--Specifies a header displayed on the webpage-->
            <p class="slogan">Forged for Speed. Built for Strength.</p> <!--Defines a paragraph representing a slogan-->
        </div> <!--End of nested "text-container" division/class in HTML-->
    </div> <!--End of division/class "content" in HTML-->

    <div class="login-form"> <!--Defines a division/class in the HTML document known as "login-form" (center of webpage)-->
        <h2>Login</h2> <!--Specifies a header displayed on the webpage-->
        <form action="{{ url_for('login') }}" method="POST"> <!--HTML form that allows user input which is passed onto a server for processing using HTTP POST request-->
            <div class="user-container"> <!--A nested class inside another class known as "user-container" within HTML-->
                <label for="email"><b>Email Address</b></label> <!--Defines a label within HTML displayed as "Username"-->
                <input type="text" placeholder="Enter Email" name="email" required> <!--Defines an entry field which asks the user to enter their username-->
                <label for="psw"><b>Password</b></label> <!--Defines a label within HTML displayed as "Password"-->
                <input type="password" placeholder="Enter Password" name="psw" required> <!--Defines an entry field which asks the user to enter their password-->
                <button type="submit">Login</button> <!--Defines a button for the user to press. Leads to success.html-->
            </div> <!--End of nested "user-container" division/class in HTML-->
        </form> <!--End of form in HTML-->
    </div> <!--End of division/class "user-container" in HTML-->

</body> <!--End of HTML Body-->

</html> <!--End of HTML code-->
